@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");
* {
  padding: o;
  margin: o;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}
/* NAVIGATION  */

nav {
  height: 80px;
  display: flex;
}

ul {
  display: flex;
}

p {
  line-height: 1.5;
}

li {
  list-style-type: none;
}

.purple {
  color: purple;
}

.logo {
  width: 160px;
}

img {
  width: 100%;
  height: 100%;
  max-height: 50vh;
  padding: 20px;
}
.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 28px;
  color: purple;
  font-weight: bold;
  padding: 8px;
}
.nav__link:hover {
  text-decoration: underline;
}
.nav__link--primary {
  border: 2px solid purple;
  border-radius: 4px;
}
.nav__link--primary:hover {
  text-decoration: none;
}

#landing {
  background-color: rgba(115, 66, 214, 0.1);
}
/* HEADER  */

header {
  height: calc(100vh - 80px);
}

.header__container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 27px;
}

.header__description{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__img--wrapper {
  padding: 28px;
}

h1 {
  font-size: 56px;
  color: purple;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}
.btn {
  background-color: purple;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}

.container {
  padding: 56px 0;
  
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.row__column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HIGHILIGHTS */

#highlights {
  position: relative;
}

#highlights:before,
#highlights:after {
  background: url("assets/wave.svg");
  content: "";
  position: absolute;
  width: 101vw;
  height: 12vw;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

#highlights:before {
  top: 1px;
  transform: translateY(-100%);
}
#highlights:after {
  bottom: 1px;
  transform: translateY(100%) rotate(180deg);
}
.highlight__wrapper {
  display: flex;
  margin: 0 auto;
}

.highlight {
  padding: 0 24px;
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.highlight__para {
  text-align: center;
  max-width: 280px;
}

.highlight__img {
  border: 2px solid purple;
  color: purple;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-size: 32px;
  margin-bottom: 24px;
}

.highlight__subtitle {
  font-size: 24px;
  margin-bottom: 16px;
  align-items: center;
}

/*

FEATURES


*/
#Features {
  padding-top: 8vw;
  background-color: rgba(115, 66, 214, 0.1);
}

.books {
  display: flex;
  flex-wrap: wrap;
}
.book {
  width: 25%;
  padding: 24px;
}
.book__img {
  max-height: 380px;
  transition: scale all 300ms ease;
  cursor: not-allowed;
}
.book__img--wrapper {
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.book:hover .book__img {
  transform: scale(1.03);
}

.book__title {
  font-size: 20px;
  margin-bottom: 8px;
}
.book__title:hover {
  text-decoration: underline;
}

.book__ratings {
  color: gold;
  margin-bottom: 8px;
}
.book__price--normal {
  text-decoration: line-through;
  padding-right: 6px;
  color: gray;
}

/*


EXPLORE


*/

#explore {
  background-color: rgba(115, 66, 214, 0.1);
}